$primaryGray: #6B6B6B;
$purple: #664EFC;
$darkPurple: #4C42FB;
$gradient: linear-gradient(115deg, rgba(184,73,252,0.3) 0%, rgba(253,131,63,0) 40%);
$lightGray: #FDFCF9;
$darkGray: #4F4F4F;
$midGray: #CCCCCC;
$onemoreGray: #BCBCBC;
$lastGray: #8D8D8D;
