.hero {
    padding: 18.9rem 0;

    @include tablet {
        padding: 15rem 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
        }
    }

    &__info {
        max-width: 50%;
        font-size: 1.8rem;
        line-height: 1.5;

        @include tablet {
            max-width: 75%;
            align-self: flex-start;
            order: 1;
        }

        @include mobile {
            max-width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 5.6rem;
        line-height: 6rem;
        color: black;
        margin-bottom: 1.6rem;
    }

    &__subtitle {
        margin-bottom: 2.4rem;
    }

    &__social {
        margin-top: 2.4rem;
    }

    &__image {
        width: 58.1rem;
        height: 52.2rem;

        @include tablet {
            width: 33.8rem;
            height: 30.4rem;
            margin-bottom: 4.2rem;
        }
    }
}

.social {

    &__avatars {
        margin-bottom: .8rem;
    }

    &__users-count {
        font-weight: 700;
        color: $darkPurple;
    }
}