.phone-section {
    padding-bottom: 8rem;
    background-color: white;

    &__img {
        width: 41.7rem;
        height: 50.8rem;
        object-fit: cover;

        @include tablet {
            width: 23.3rem;
            height: 28.3rem;
        }

        @include mobile {
            margin-bottom: 5.9rem;
        }

    }

    &__info {
        max-width: 57.1rem;
        font-size: 1.8rem;
        line-height: 1.5;

        @include tablet {
            max-width: 62%;
        }

        @include mobile {
            max-width: 100%;
        }
    }
}